.grid {
    max-width: 100%;
    padding: 0 8px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col {
    padding-left: 8px;
    padding-right: 8px;
}

.col-left {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
}

.col-right {
    flex: 0 0 66.66666%;
    max-width: 66.66666%;
}
 
@media (max-width: 600px) {
    .mobile__border-radius {
        border-radius: 8px;
    }

    .col-left {
        flex: 0 0 100%;
        max-width: 100%;
    }
    
    .col-right {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .main__introduce {
        margin-bottom: 16px;
    }

    .main__introduce-img {
        border-top-right-radius: 8px;
    }
}